@media (min-width: 768px) {
  #slider {
    &.carousel-caption {
      bottom: 15em;
    }

    & h5 {
      font-size: 4em;
      text-shadow: $negro-color 2px 3px;
    }
    &.btn {
      padding: 0.6 1.6em;
      font-size: 1.2em;
    }
  }
  .carousel-indicators {
    bottom: 7em;
  }
}
